<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Insulin pump device</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
    <script src="/script/websocketScript.js"></script>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<center>
    <div>
        <h1 style="background-color: rgba(255, 255, 255, 0.4); padding: 5px; width: 50%">
            Personal insulin pump device
        </h1>

        <div class="column">
            <h3>Last blood sugar level measurement:</h3>
            <div class="displayStyle">
                <p id="r2">Booting device...</p> &nbsp;
            </div>

            <h3>Last insulin dose computed:</h3>
            <div class="displayStyle">
                <p id="compDose">Booting device...</p>
            </div>
        </div>

        <div class="column">
            <h3>Current device state:</h3>
            <div class="displayStateStyle">
                <p id="state">Booting device...</p>
            </div>

            <h3>Clock:</h3>
            <div class="displayStyle">
                <iframe src="http://free.timeanddate.com/clock/i7m2s6i5/n254/tlit6/fn12/fs48/tct/pct" frameborder="0" width="234" height="80" allowTransparency="true"></iframe>
            </div>

        </div>

        <form action="rebootDevice" id="rebootForm" style="display: none;">
            <button type="submit" class="button">Reboot device</button>
        </form>
    </div>
</center>


</body>
</html>